@use "../mixin.scss" as m;

.wrapper {
  // background: m.$primary;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 20px;
}
.header {
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: m.$white;
  text-decoration: none;
  cursor: pointer;
  img {
    width: 28px;
  }
  span {
    @include m.headline;
  }
}
.filter {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.input {
  background: m.$white;
  border: None;
  border-radius: 16px * 1.2;
  height: 16px * 1.2;
  width: 120% * 1.2;
  padding: 8px * 1.2 16px * 1.2 8px * 1.2 36px * 1.2;
  @include m.shadow-inset;
  cursor: auto;
  color: m.$dark;
  font-size: 12px * 1.2;
  &:focus {
    outline: none;
    @include m.shadow-2dp;
  }
}
::placeholder {
  font-family: Poppins;
  color: m.$medium;
}
.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.form {
  width: 280px * 1.2;
  max-width: 75vw;
  display: flex;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    left: 8px * 1.2;
    width: 20px * 1.2;
  }
}
.sortButton {
  background-color: m.$white;
  border-radius: 50%;
  border: none;
  width: 32px * 1.2;
  height: 32px * 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.shadow-inset;
  position: relative;
  transition: box-shadow 0.5s;
  cursor: pointer;
  &:hover {
    @include m.shadow-2dp;
    .tooltip {
      opacity: 1;
    }
  }
  img {
    width: 12px * 1.2;
  }
}

.tooltip {
  z-index: 9;
  opacity: 0;
  font-family: Poppins;
  border-radius: 6px;
  font-weight: bold;
  color: m.$white;
  background-color: rgba(m.$dark, 0.8);
  @include m.caption;
  position: absolute;
  top: 55px;
  padding: 6px 12px;
  white-space: nowrap;
  right: -12px;
  transition: opacity 0.4s;
  pointer-events: none;
}
