@use "../mixin.scss" as m;

.container {
  // background-color: rgba(lightblue, 0.5);
  min-height: 624px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  @include m.shadow-6dp;
  border-radius: 16px;
  padding: 6px;
  // background-color: lightblue;
  max-width: 1080px;
  height: 100%;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

.leftWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  position: relative;
  text-align: center;
  padding: 8px;
  background-image: url("../../assets/pokeball-background.svg");
  background-repeat: no-repeat;
  background-position: right top;
  img {
    pointer-events: none;
  }
}
.leftArrow {
  position: absolute;
  top: 55%;
  left: 4%;
}
.rightArrow {
  position: absolute;
  top: 55%;
  right: 4%;
}
.nameWrap {
  position: relative;
  margin: 24px 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: m.$white;
  z-index: 1;
}
.name {
  display: flex;
  align-items: flex-end;
}
.imageWrap {
  margin-bottom: 10%;
}
.pokeName {
  margin-left: 16px;
  font-size: 36px;
  line-height: 48px;
}
.pokeId {
  font-size: 16px;
  line-height: 24px;
}
.pokemon {
  position: relative;
  width: 356px;
  z-index: 9;
}

.type {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: none;
  border: 2px solid white;
  color: m.$white;
  padding: 6px 14px;
  border-radius: 20px;
  margin: 0 12px;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  background-color: m.$white;
  @include m.shadow-inset;
}
.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.headline {
  @include m.subtitle2;
  margin: 0;
}

.weightBox,
.heightBox,
.movesBox {
  padding: 0 6px;
  text-align: center;
  white-space: nowrap;
  img {
    width: 16px * 1.2;
    height: 16px * 1.2;
    margin: -6px 12px 0 0;
  }
}
.line {
  height: 72px;
  border-right: 2px solid m.$light;
}
.weightInfo,
.heightInfo,
.movesInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}
.movesInfo {
  flex-direction: column;
}
.caption {
  font-size: 14px;
  line-height: 18px;
  color: m.$medium;
}
.description {
  margin: 36px 12px;
  text-align: left;
  word-spacing: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.statsWrap {
  display: flex;
  justify-content: space-between;
}
.statsInfo {
  text-align: right;
  padding: 0 24px;
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.statsName {
  border-right: 2px solid m.$light;
  padding: 0 24px 0 12px;
  width: 10%;
  text-align: right;
}
.statsNum {
  text-align: right;
  width: 30px;
}
.statsBar {
  width: 100%;
  margin-left: 16px;
  height: 10px;
  border-radius: 5px;
}
.progressBar {
  height: 10px;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .container {
    height: 100%;
  }
  .wrapper {
    border-radius: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 110%;
    width: 100vw;
  }
  .leftWrapper {
    width: 90%;
  }
  .rightWrapper {
    margin-top: -186px;
    width: 90%;
    padding-top: 156px;
  }
  .pokemon {
    margin-top: 32px;
  }
}

.loading {
  background-color: m.$light;
  @include m.body1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
