// Color
$primary: #dc0a2d;
$dark: #212121;
$medium: #666666;
$light: #e0e0e0;
$background: #efefefef;
$white: #ffffff;
// Type colors
$bug-color: #a7b723;
$dark-color: #75574c;
$dragon-color: #7037ff;
$electric-color: #f9cf30;
$fairy-color: #e69eac;
$fighting-color: #c12239;
$fire-color: #f57d31;
$flying-color: #a891ec;
$ghost-color: #70559b;
$normal-color: #aaa67f;
$grass-color: #74cb48;
$ground-color: #dec16b;
$ice-color: #9ad6df;
$poison-color: #a43e9e;
$psychic-color: #fb5584;
$rock-color: #b69e31;
$steel-color: #b7b9d0;
$water-color: #6493eb;

// Shadow
@mixin shadow-inset() {
  box-shadow: 0 1px * 2.0 3px * 2.0 1px * 2.0
    rgba($dark, 0.25) inset;
}
@mixin shadow-2dp() {
  box-shadow: 0 1px * 2.0 3px * 2.0 1px * 2.0 rgba($dark, 0.2);
}
@mixin shadow-6dp() {
  box-shadow: 0 3px 12px 3px rgba($dark, 0.2);
}
// Text Formats
@mixin headline() {
  font-weight: bold;
  font-size: 24px * 1.2;
  line-height: 32px * 1.2;
}

@mixin subtitle3() {
  font-weight: bold;
  font-size: 10px * 2.0;
  line-height: 16px * 2.0;
}

@mixin subtitle1() {
  font-weight: bold;
  font-size: 14px * 2.0;
  line-height: 16px * 2.0;
}

@mixin subtitle2() {
  font-weight: bold;
  font-size: 12px * 2.0;
  line-height: 16px * 2.0;
}

@mixin body3() {
  font-weight: normal;
  font-size: 10px * 2.0;
  line-height: 16px * 2.0;
}

@mixin body1() {
  font-weight: normal;
  font-size: 14px * 2.0;
  line-height: 16px * 2.0;
}

@mixin body2() {
  font-weight: normal;
  font-size: 12px * 2.0;
  line-height: 16px * 2.0;
}

@mixin caption() {
  font-weight: normal;
  font-size: 8px * 2.0;
  line-height: 12px * 2.0;
}
