@use "../styles/mixin.scss" as m;

.wrapper {
  background: m.$primary;
  display: flex;
  justify-content: space-between;
  padding: 12px 10px 20px;
}
.header {
  @include m.headline;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: m.$white;
}
.filter {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.input {
  background: m.$white;
  border: None;
  border-radius: 16px;
  height: 16px;
  width: 120%;
  padding: 8px 16px 8px 36px;
  @include m.shadow-inset;
  cursor: auto;
  color: m.$dark;
}
::placeholder {
  font-family: Poppins;
  color: m.$medium;
}
.form {
  width: 280px;
  display: flex;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    left: 8px;
    width: 20px;
  }
}
.sortButton {
  background-color: m.$white;
  border-radius: 50%;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.shadow-inset;
  img {
    width: 12px;
  }
  &:hover {
    box-shadow: none;
  }
}
