@use '../styles/mixin.scss' as m;

.wrapper {
  flex: 1;
  margin: 4px;
  padding: 24px 12px;
  background-color: m.$white;
  border-radius: 8px;
  @include m.shadow-inset;
  color: m.$dark;
  overflow-y: auto;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  row-gap: 16px;
  column-gap: 16px;
  flex-wrap: wrap;
}
.empty {
  width: 104px;
  height: 108px;
}